<% if model.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="text-sm text-red-800 bg-red-100 p-4 rounded-lg border border-red-300">
    <h2 class="text-red-900 font-medium mb-1">
      The form contains <%= pluralize(model.errors.count, "error") %>
    </h2>
    <ul class="list-disc ml-3.5">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
