<%- user_routes = [
  { active_actions: ["profile", "update_profile"], name: "Profile", path: profile_path },
  { active_actions: ["change_password", "update_password"], name: "Change password", path: change_password_path },
  { active_actions: ["purchase_history"], name: "Purchase History", path: purchase_history_path },
] %>
<div class="hidden sm:flex flex-col border rounded-lg mx-1 py-5 bg-white w-64">
  <% user_routes.each do |route| %>
    <% if route[:active_actions].include?(params[:action]) %>
      <span class="px-3 py-2 bg-blue-500 text-white"><%= route[:name] %></span>
    <% else %>
      <%= link_to route[:name], route[:path], class: "px-3 py-2 hover:bg-gray-100" %>
    <%end %>
  <% end %>
</div>
