<div class="flex h-screen justify-center items-center">
  <div>
    <h1>Home page for Rails Ecommerce project</h1>
    <button class="bg-blue-500 px-4 py-2 rounded text-white hover:bg-blue-600">Sample button</button>
  </div>
</div>
